@import './variable.scss';

/* 在 CSS 文件中引用字体文件 */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('ttf'),
       url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
}

html {
  font-family: "OpenSans", sans-serif;
}
ul {
  display: flex;
  li {
    padding: 20px;
    color: $mainColor;
    background-image: url(../img/logo.jpeg);
  }
}